<div class="row">
  <div class="span12">
    <p class="lead">Developed with love by:</p>
    <ul>
      <li>Juan Sebastián Rey</li>
      <li>Kelvin Guerrero</li>
      <li>Ericson Cepeda</li>
      <li>Eliana Hernández</li>
    </ul>
  </div>
</div>
