<div class="row">
  <div class="offset1 span10 text-center">
    <h1>
      Session error
    </h1>
    <p class="lead">
      It seems you don't have the permission to access this page.
    </p>
  </div>
</div>