<h1 class="text-center">All theses</h1>
<div class="row">
  <div class="span12">
    <% if @found_thesis.empty? %>
        <p class="lead">No theses.</p>
    <% else %>
        <%= render 'display_theses', object: @found_thesis %>
    <% end %>
  </div>
</div>
