<h1 class="text-center"><%= @product.description %></h1>
<%= link_to 'List all', products_all_path(@product.thesis.id), class: 'btn' %>
<%= link_to 'Back to thesis', @product.thesis, class: 'btn btn-info' %>